{
    "passthrough_mode": True,
    "coverage": True,
    "modules": [{
                    "module_name": "system/lib64/hw/nfc_nci.bullhead",
                    "git_project": {
                        "name": "platform/system/nfc",
                        "path": "system/nfc"
                    }
                }]
}
