service vendor.evs-hal-mock /vendor/bin/hw/android.hardware.automotive.evs@1.1-service
    class hal
    priority -20
    user graphics
    group automotive_evs camera
    onrestart restart automotive_display
    onrestart restart evs_manager
    disabled # will not automatically start with its class; must be explicitly started.
