service vendor.radio-config-hal-1-0 /vendor/bin/hw/android.hardware.radio.config@1.0-service
    interface android.hardware.radio.config@1.0::IRadioConfig default
    class hal
    user system
    group system
