service vendor.cas-default /vendor/bin/hw/android.hardware.cas-service.example
    interface aidl android.hardware.cas.IMediaCasService/default
    class hal
    user media
    group mediadrm drmrpc
    ioprio rt 4
    task_profiles ProcessCapacityHigh
