service vendor.audio-hal-7-0 /vendor/bin/hw/android.hardware.audio@7.0-service.example
    class hal
    user audioserver
    group audio
    capabilities BLOCK_SUSPEND
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
