service vendor.rebootescrow-default /vendor/bin/hw/android.hardware.rebootescrow-service.default
    interface aidl android.hardware.rebootescrow.IRebootEscrow/default
    class hal
    user system
    group system
