service vendor.bluetooth-default /vendor/bin/hw/android.hardware.bluetooth-service.default
    class hal
    capabilities BLOCK_SUSPEND NET_ADMIN SYS_NICE
    user bluetooth
    group bluetooth
    task_profiles HighPerformance
