service vendor.secretkeeper /apex/com.android.hardware.security.secretkeeper/bin/hw/android.hardware.security.secretkeeper-service.nonsecure
    interface aidl android.hardware.security.secretkeeper.ISecretkeeper/nonsecure
    class hal
    user nobody
    group nobody
