service vendor.fingerprint-example /vendor/bin/hw/android.hardware.biometrics.fingerprint-service.example
    class hal
    user nobody
    group nobody
    disabled
on property:ro.vendor.fingerprint_virtual_hal_start=true
    enable vendor.fingerprint-example
on property:persist.vendor.fingerprint.virtual.type=*
    enable vendor.fingerprint-example
