# It is an interim state to run GRPC server as an Android service.
# Eventually it will run outside of Android (e.g., AGL),
# so the command line arguments are expected, though not conventionally used in Android
service vendor.vehicle-hal-2.0-server \
        /vendor/bin/hw/android.hardware.automotive.vehicle@2.0-virtualization-grpc-server \
        -server_cid ${ro.vendor.vehiclehal.server.cid:-pleaseconfigurethis} \
        -server_port ${ro.vendor.vehiclehal.server.port:-pleaseconfigurethis}
    class hal
    user vehicle_network
    group system inet
