service dumpstate-1-1 /vendor/bin/hw/android.hardware.dumpstate@1.1-service.example
    class hal
    user nobody
    group nobody
    interface android.hardware.dumpstate@1.0::IDumpstateDevice default
    interface android.hardware.dumpstate@1.1::IDumpstateDevice default
    oneshot
    disabled
