service vendor.wifi_hal_legacy /vendor/bin/hw/android.hardware.wifi-service-lazy
    interface aidl android.hardware.wifi.IWifi/default
    oneshot
    disabled
    class hal
    capabilities NET_ADMIN NET_RAW SYS_MODULE
    user wifi
    group wifi gps
