service vendor.evs-hal-default /vendor/bin/hw/android.hardware.automotive.evs-aidl-default-service
    class early_hal
    priority -20
    user graphics
    group automotive_evs camera
    onrestart restart cardisplayproxyd
    onrestart restart evsmanagerd
    disabled
